repo/
ckbcomp/
mkinitcpio-openswap/
dracula-gtk-theme/
scala/
neo4j-community/
responder/
bloodhound/
python-bloodhound/
python-aesedb/
python-aiosmb/
python-asyauth/
python-asysocks/
python-aiowinreg/
python-minikerberos/
python-msldap/
python-pypykatz/
python-unicrypto/
python-winacl/
python-winsspi/
ruby-evil-winrm/
font-symbola/
ruby-winrm/
ruby-winrm-fs/
i3lock-fancy-git/
emojify/
ckbcomp/
mkinitcpio-openswap/
repo2/
*/pkg/
*/src/
*/*.tar.zst
!calamares/calamares*.pkg.tar.zst
