repo/
ckbcomp/
mkinitcpio-openswap/
neo4j-community/
calamares/
responder/
bloodhound/
python-bloodhound/
python-aesedb/
python-aiosmb/
python-asysocks/
python-aiowinreg/
python-minikerberos/
python-msldap/
python-pypykatz/
python-unicrypto/
python-winacl/
python-winsspi/
ruby-evil-winrm/
font-symbola/
ruby-winrm/
ruby-winrm-fs/
repo2/
*/pkg/
*/src/
*/*.pkg.tar.zst
